 
/********************************************/
/* Hey there. This stylesheet is broken up 
into the following sections.

SECTION 1: GENERAL STYLES
SECTION 2: CUSTOM CLASSES & IDS
SECTION 3: BUTTONS
SECTION 4: MENU AND NAV
SECTION 5: OFF CANVAS NAV
SECTION 6: MAIN DIVS AS THEY APPEAR IN THE HTML
SECTION 7: FOOTER
SECTION 8: MEDIA QUERIES - THIS SITE WAS BUILT 
MOBILE FIRST. SO THE MEDIA QUERIES PERTAIN TO 
MEDIUM AND LARGE SCREENS. */
/********************************************/


/********************************************/
/* COLOR PALETTE */
/********************************************/

.primary-color 	{
	color: #7e8b2b;
}
.dark-primary	{
	color: #2a2f0e;
}
.accent-color	{
	color: #ede9af;
}
.off-white		{
	color: #eef1d8;
}


/********************************************/
/* GENERAL STYLES */
/********************************************/
 * {
 	box-sizing: border-box;
 }

 html, body {
 	background-color: #ede9af;
 }

 a {
 	color: #7e8b2b;
 }

 a:hover, a:focus {
 	color: #FF5252;
 }

 header {
 	height: 7rem;
 	background-color: #7e8b2b;
 }

 header h1 {
 	text-align: center;
 	color: #fff;
 	margin-top: 2rem;
 	font-weight: 100;
 	font-size: 2rem;
 }


 .hero {
 	height: 30rem;
 	background-image: url(../img/hero.jpg);
 	background-size: cover;
 	background-position: center;
 	margin-bottom: 1rem;
 }

 .hero blockquote {
 	margin-top: 13rem;
 	color: #fff;
 	font-weight: 300;
 }

  .hero cite {
 	color: #fff;
 	font-weight: 300;
 }

 .panel {
 	background-color: #eef1d8;
 	border-color: #eef1d8;
 }

 .panel h2 {
 	color: #7e8b2b;
 	font-weight: 700;
 }

 .maincontent h1 {
 	color: #2a2f0e;
 	font-weight: 700;
 }

 .maincontent .button {
 	background-color: #7e8b2b;
 	border-color: #7e8b2b;
 	border-width: 1px;
 	position: absolute;
 	bottom: .5rem;
 	color: #eef1d8;
 }

  .maincontent .button:hover {
 	background-color: #eef1d8;
 	border-width: 1px;
 	color: #7e8b2b;
 }

 .wireframing img {
 	width: 80%;
 	margin: 0 10%;
 	box-shadow: 2px 2px 4px rgba(0, 0, 0, .35)
 }






 footer {
 	height: 4rem;
 	background-color: #2a2f0e;
 }

 footer p {
 	text-align: center;
 	margin: .8rem 0 0 0;
 	color: #eef1d8;
 	font-size: 1.5rem;
 	font-weight: 300;
 }


/********************************************/
/* MEDIA QUERIES */
/********************************************/
/* Medium screens */
/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 

header h1 {
	margin-top: 1.65rem;
	font-size: 3rem;
}


} 

/* min-width 1025px, large screens */
/* Large screens */
@media only screen and (min-width: 64.063em) { 
 .wireframing img {
 	width: 30%;
 	margin: 0 1%;
 	float: left;

 }


 }
} 

